html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(./images/phyrexia_white_land.png) no-repeat center center;
	background-size: cover;
	filter: blur(5px);
	z-index: -1;
}

.header,
.main-content,
.footer {
	flex-shrink: 0;
	width: 100%;
}

.header-logo {
	margin: 2rem; /* 32px */
	width: 15rem; /* 240px */
	height: auto;
	cursor: pointer;
	transition: all 0.3s;
	filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

.header-logo:hover {
	filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

.main-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head {
	font-family: 'Beleren SmallCaps Bold';
	font-size: 15rem; /* 240px */
	margin-top: -2rem; /* 32px */
	color: transparent;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.9);
	background: linear-gradient(rgb(228, 228, 228) 50%, rgb(0, 0, 0) 80%);
	background-clip: text;
	-webkit-background-clip: text;
	filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem; /* 32px */
	flex-wrap: wrap;
	gap: 20px;
}

.button button {
	background: none;
	border: none;
	padding: 0;
	filter: drop-shadow(0 0 10px rgb(0, 0, 0));
	transition: transform 0.2s ease;
}

.button img {
	width: 25rem; /* 400px */
	height: auto;
	cursor: pointer;
}

button:hover {
	transform: scale(1.15);
}

button:active {
	transform: scale(0.85);
}

button::before,
button::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	height: 120%;
	width: 150%;
	z-index: -1;
	background-repeat: no-repeat;
}

.postmite.animate::before {
	top: -70%;
	background-image: radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, #73ee00 20%, transparent 30%),
		radial-gradient(circle, #73ee00 20%, transparent 30%),
		radial-gradient(circle, transparent 10%, #73ee00 15%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%);
	background-size:
		10% 10%,
		20% 20%,
		15% 20%,
		20% 20%,
		18% 18%,
		10% 10%,
		15% 15%,
		18% 18%;
	background-position:
		15% 100%,
		25% 100%,
		20% 100%,
		15% 100%,
		25% 100%,
		25% 100%,
		40% 100%,
		55% 90%,
		70% 100%;
	animation: topBubbles 0.6s ease-in-out forwards;
}

@keyframes topBubbles {
	50% {
		background-position:
			0% 80%,
			0% 20%,
			10% 40%,
			20% 0%,
			30% 30%,
			22% 50%,
			50% 50%,
			65% 20%,
			90% 30%;
	}
	100% {
		background-position:
			0% 70%,
			0% 10%,
			10% 30%,
			20% -10%,
			30% 20%,
			22% 40%,
			50% 40%,
			65% 10%,
			90% 20%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.postmite.animate::after {
	bottom: -70%;
	background-image: radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, #73ee00 15%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%),
		radial-gradient(circle, #73ee00 20%, transparent 20%);
	background-size:
		15% 15%,
		20% 20%,
		18% 18%,
		20% 20%,
		15% 15%,
		20% 20%,
		18% 18%;
	background-position:
		10% 0%,
		30% 10%,
		55% 0%,
		70% 0%,
		85% 0%,
		70% 0%,
		70% 0%;
	animation: bottomBubbles 0.6s ease-in-out forwards;
}

@keyframes bottomBubbles {
	50% {
		background-position:
			0% 80%,
			20% 80%,
			45% 60%,
			60% 100%,
			75% 70%,
			95% 60%,
			105% 0%;
	}
	100% {
		background-position:
			0% 90%,
			20% 90%,
			45% 70%,
			60% 110%,
			75% 80%,
			95% 70%,
			110% 10%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.getmite.animate::before {
	top: -70%;
	background-image: radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, #00ccff 20%, transparent 30%),
		radial-gradient(circle, #00ccff 20%, transparent 30%),
		radial-gradient(circle, transparent 10%, #00ccff 15%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%);
	background-size:
		10% 10%,
		20% 20%,
		15% 20%,
		20% 20%,
		18% 18%,
		10% 10%,
		15% 15%,
		18% 18%;
	background-position:
		15% 100%,
		25% 100%,
		20% 100%,
		15% 100%,
		25% 100%,
		25% 100%,
		40% 100%,
		55% 90%,
		70% 100%;
	animation: topBubbles 0.6s ease-in-out forwards;
}

@keyframes topBubbles {
	50% {
		background-position:
			0% 80%,
			0% 20%,
			10% 40%,
			20% 0%,
			30% 30%,
			22% 50%,
			50% 50%,
			65% 20%,
			90% 30%;
	}
	100% {
		background-position:
			0% 70%,
			0% 10%,
			10% 30%,
			20% -10%,
			30% 20%,
			22% 40%,
			50% 40%,
			65% 10%,
			90% 20%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.getmite.animate::after {
	bottom: -70%;
	background-image: radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, #00ccff 15%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%),
		radial-gradient(circle, #00ccff 20%, transparent 20%);
	background-size:
		15% 15%,
		20% 20%,
		18% 18%,
		20% 20%,
		15% 15%,
		20% 20%,
		18% 18%;
	background-position:
		10% 0%,
		30% 10%,
		55% 0%,
		70% 0%,
		85% 0%,
		70% 0%,
		70% 0%;
	animation: bottomBubbles 0.6s ease-in-out forwards;
}

@keyframes bottomBubbles {
	50% {
		background-position:
			0% 80%,
			20% 80%,
			45% 60%,
			60% 100%,
			75% 70%,
			95% 60%,
			105% 0%;
	}
	100% {
		background-position:
			0% 90%,
			20% 90%,
			45% 70%,
			60% 110%,
			75% 80%,
			95% 70%,
			110% 10%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.deletemite.animate::before {
	top: -70%;
	background-image: radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, #ff3a20 20%, transparent 30%),
		radial-gradient(circle, #ff3a20 20%, transparent 30%),
		radial-gradient(circle, transparent 10%, #ff3a20 15%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%);
	background-size:
		10% 10%,
		20% 20%,
		15% 20%,
		20% 20%,
		18% 18%,
		10% 10%,
		15% 15%,
		18% 18%;
	background-position:
		15% 100%,
		25% 100%,
		20% 100%,
		15% 100%,
		25% 100%,
		25% 100%,
		40% 100%,
		55% 90%,
		70% 100%;
	animation: topBubbles 0.6s ease-in-out forwards;
}

@keyframes topBubbles {
	50% {
		background-position:
			0% 80%,
			0% 20%,
			10% 40%,
			20% 0%,
			30% 30%,
			22% 50%,
			50% 50%,
			65% 20%,
			90% 30%;
	}
	100% {
		background-position:
			0% 70%,
			0% 10%,
			10% 30%,
			20% -10%,
			30% 20%,
			22% 40%,
			50% 40%,
			65% 10%,
			90% 20%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.deletemite.animate::after {
	bottom: -70%;
	background-image: radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, #ff3a20 15%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%),
		radial-gradient(circle, #ff3a20 20%, transparent 20%);
	background-size:
		15% 15%,
		20% 20%,
		18% 18%,
		20% 20%,
		15% 15%,
		20% 20%,
		18% 18%;
	background-position:
		10% 0%,
		30% 10%,
		55% 0%,
		70% 0%,
		85% 0%,
		70% 0%,
		70% 0%;
	animation: bottomBubbles 0.6s ease-in-out forwards;
}

@keyframes bottomBubbles {
	50% {
		background-position:
			0% 80%,
			20% 80%,
			45% 60%,
			60% 100%,
			75% 70%,
			95% 60%,
			105% 0%;
	}
	100% {
		background-position:
			0% 90%,
			20% 90%,
			45% 70%,
			60% 110%,
			75% 80%,
			95% 70%,
			110% 10%;
		background-size:
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%,
			0% 0%;
	}
}

.footer {
	text-align: center;
	margin-top: 3.125rem; /* 50px */
}

footer {
	text-shadow: 0 0 5px rgb(0, 0, 0);
	bottom: 15px;
	text-align: center;
	color: #ffffff;
	font-size: 0.75rem; /* 12px */
	margin-bottom: 1.5rem; /* 24px */
}

.footer-logo {
	filter: drop-shadow(0 0 10px rgb(0 0 0));
	margin-bottom: -0.625rem; /* 10px */
}
